body {
    background-color: #ab5beae3;
    font-family: 'Kodchasan', sans-serif;
    text-shadow: 1px 1px 2px #0000007d;
}

a {
    text-decoration: black;
    color: black;
}

.paper {
    background-color: white;
    width: 750px;
    height: 750px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 5px 5px 20px #792dcc94;
}
.paper-myprofile {
    text-align: center;
}
p.h-paper {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-weight: 700;
    margin: 10px;
}

img.myphoto {
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #252fa2a2;
}

.table-myprofile {
    margin: 0 auto;
    width: 100%;
}
.table-myprofile td:nth-child(1) {
    text-align: left;
    width: 24%;
}
.table-myprofile td:nth-child(2) {
    text-align: center;
    width: 6%;
}
.table-myprofile td:nth-child(3) {
    text-align: left;
    width: 45%;
}
.table-myprofile td:nth-child(4) {
    text-align: left;
    width: 25%;
}
.table-history-education td:nth-child(1) {
    text-align: center;
    width: 15%;
}
.table-history-education td:nth-child(2) {
    text-align: left;
    width: 35%;
}
.table-history-education td:nth-child(3) {
    text-align: center;
    width: 15%;
}
.table-history-education td:nth-child(4) {
    text-align: left;
    width: 35%;
}
.table-history-education {
    width: 100%;
}
.div-left-column {
    padding-top: 25px;
    float: left;
    width: 180px;
}
.div-right-column {
    width: 540px;
    float: right;
}
.div-2column , .div-column {
    margin: 0 auto;
    width: 720px;
    height: 180px;
    border-bottom-color: black;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
.table-contect img {
    width: 20px;
}
.table-contect td {
    padding: 0;
}
.table-contect td:nth-child(2) {
    text-align: left;
}
.table-contect .social {
    width: 120px;
    padding: 10px;
}
.table-contect {
    width: 100%;
}
.table-history-education img {
    width: 80px;
}
.div-column3 {
    margin: 0 auto;
    width: 720px;
    height: 220px;
    border-bottom-color: black;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
.div-column4 {
    text-align: left;
    padding-left: 6px;
    padding-top: 3px;
    margin: 0 auto;
    width: 720px;
}
.div-column4 img {
    width: 25px;
}